/* PHASE 4: Footer */
.footer {
  color: #aaa;
  border-bottom: solid #ccc 1px;
  border-left: solid #ccc 1px;
  border-right: solid #ccc 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 400;
}

.footer-notice {
  float: left;
  margin-left: 20px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.footer-nav {
  float: right;
}

.footer-nav-list li {
  float: left;
  margin-right: 20px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.footer-nav-list a:hover {
  color: #000;
}
