<form action="<%= action_url %>" method="POST">
  <%= csrf_input %>

  <label> Email: <br>
    <input type="text",
      name="user[email]"
      id="user-email"
      value ="<%= email %>"
    </input>
  </label>
  <br><br>

  <label> Password: <br>
    <input type="password",
      name="user[password]"
      id="user-password"
    </input>
  </label>
  <br><br>

  <input type="submit" value="<%= button %>">

</form>
