<div class="jumbotron">
  <h1 class="text-center">StaticPages#about</h1>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1">
      <p class="text-center">Find me in app/views/static_pages/about.html.erb</p>

    </div>
    <div class="col-xs-5">
      <p class="text-center">Other text over Here. In 1904, Brazil scrapped a previous naval building program in favor of an order that included three warships of the new "dreadnought" type, despite signs that such an action would spark a South American naval arms race.[A] To counter this acquisition by a major rival, Argentina began seeking bids for at least two dreadnoughts in 1908. Over the next two years, shipbuilders from five countries vied for the contracts, complemented by efforts from their respective governments. Argentina was able to play this hyper-competitive environment to its own advantage by rejecting all of the initial proposals and calling for new ones that required the best aspects of each. They then repeated this process, despite complaints from shipbuilders that their trade secrets were being given away. The contracts were awarded to the lowest bidder, Fore River, in early 1910. This move shocked the European bidders, but could partly be explained by the American steel trust's ability to produce steel at a lower cost than any other country.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <%= image_tag("1.jpg", class: "img-circle") %>
    <h2 class="text-center">Alice</h2>
    <p class="text-center">The United States, however, found an ally in Buenos Aires' main daily newspaper, La Prensa. The owner, editor, and naval editor were all in favor of acquiring American-designed dreadnoughts. In addition, the paper found evidence of British wrongdoing in a related naval contract. Under public pressure, the naval commission was forced to reconsider its original list, which had placed Italy first and Britain second. It now featured the United States first, Britain second, and Italy last.[19]</p>
    <p class="text-center">In a surprise move, the Argentine naval commission then threw out all of the opening tenders and called for another round of bidding; they simultaneously updated the specifications to include what were judged to be the best aspects of all the plans.[22] The competitors were given three weeks to come up with new designs and cost estimates. After diplomatic protests, this was modified slightly; the original bids were kept, but alterations to attempt to conform to the new desired characteristics were allowed.[23][E]</p>
  </div>
  <div class="col-xs-4">
    <h2 class="text-center">Bob</h2>
    <p class="text-center">The United States, however, found an ally in Buenos Aires' main daily newspaper, La Prensa. The owner, editor, and naval editor were all in favor of acquiring American-designed dreadnoughts. In addition, the paper found evidence of British wrongdoing in a related naval contract. Under public pressure, the naval commission was forced to reconsider its original list, which had placed Italy first and Britain second. It now featured the United States first, Britain second, and Italy last.[19]</p>
  </div>
  <div class="col-xs-4">
    <h2 class="text-center">Carol</h2>
    <p class="text-center">The United States, however, found an ally in Buenos Aires' main daily newspaper, La Prensa. The owner, editor, and naval editor were all in favor of acquiring American-designed dreadnoughts. In addition, the paper found evidence of British wrongdoing in a related naval contract. Under public pressure, the naval commission was forced to reconsider its original list, which had placed Italy first and Britain second. It now featured the United States first, Britain second, and Italy last.[19]</p>
  </div>
</div>
