<h2>New Tweet!</h2>
<form class="tweet-compose" data-tweets-ul-id="#feed">

  <label>
    Content
    <textarea name="tweet[content]"></textarea>
  </label>
  <strong class="chars-left">140 chars left</strong>
  <br>

  <div class="mentioned-users">
    <a class="add-mentioned-user" href="javascript:void(0)">
      Add Mention
    </a>

    <ul class="mentions">
    </ul>

    <script type="text/template">

      <li>

        <label>
          Mention
          <select name="tweet[mentioned_user_ids][]">
            <option></option>
            <% User.all.each do |user| %>
              <option value="<%= user.id %>"><%= user.username %></option>
            <% end %>
          </select>
        </label>

        <a class="remove-mentioned-user" href="javascript:void(0)">
          Remove Mentioned User
        </a>

      </li>

    </script>
  </div>
  <br>

  <input type="Submit" value="Post Tweet!">
</form>
