<h1>Create a new band</h1>

<%= begin_form(bands_url, "POST") %>


  <%= csrf_input %>

  <label> Band Name:
    <input
      type="text"
      name="band[name]"
      id='band-name'
      value="<%= @band.name %>"
    >
  </label>


<%= end_form("Create Band") %>
