.tower {
  float: left;
  width:150px;
  height: 60px;
  transform: rotate(180deg);
}

.tower:hover {
  background-color: #eee;
}

.disc {
  display: none;
  background-color: white;
  height: 20px;
  margin: auto;
}

.disc.shown {
  display: block;
  background-color: black;
}

.disc-small {
  width: 40px;
}

.disc-medium {
  width: 80px;
}

.disc-large {
  width: 120px;
}
